h1{
    background-color: rgb(231, 90, 109);
    color: white;
    padding: 80px;
    text-align: center;
    margin: 0;
}

.table1{
    width: 100%;
    border-collapse: collapse;
    background-color:rgb(210, 184, 211) ;
}

.table1 tr td{
    width: 20%;
    padding: 15px;
    
    
    
}

.table1 tr{
    text-align: center;
}

.home{
    border-radius: 30px;
    background-color: rgb(206, 147, 28) ;
    color: white;
    box-shadow: 0px 4px 10px black;
}

.table1 tr td:hover{
    border-radius: 30px;
    background-color: rgb(206, 147, 28) ;
    color: white;
    box-shadow: 0px 4px 10px black;
}

.table2{
    width: 80%;
    margin: auto;
    border-spacing: 5px;
}

.table2 tr{
    background-color: rgba(226, 169, 94, 0.927);
    
}

.table2 tr td{
   text-align: center;
   padding: 10px;
   border-radius: 30px;
}

.table2 tr td:hover{
    background-color: rgb(206, 147, 28);
    box-shadow: 0px 4px 10px black;
    color: white;
}

body{
    background-color: rgb(227, 225, 221);
}

h2{
    text-align: center;
    line-height: 50px;
    background-color: rgb(210, 184, 211);
}

input{
    width: 300px;
    border-radius: 30px;
    height: 40px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* border: 0px; */
}

.search1{
    align-items: center;
    display: flex;
    justify-content: center;
}

#one{
    position: relative;
    left: -290px;
}

#two{
    position: relative;
    left: -40px;
}

input:focus{
    outline: 0px;
}